.alert_home_cont{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  background-color: rgba(193, 193, 193, 0.273);
  &> .alert_home_wrap{
    width: 443px;
    height: 140px;
    border-radius: 10px;
    background-color: white;
    padding: 28px 32px ;
    &> h1{
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: start;
    }
    &> .footer_home_btn{
      display: flex;
      width: 100%;
      margin-top: 2vw;
      justify-content: end;
      
    }
  }
}
.non_active{
  display: none;
}