.footer {
    padding: 80px 0;

    &__info {
        text-align: center;
        margin-bottom: 114px;
        &> .btn_free_experience{
        cursor: pointer;
        line-height: 24px;
        padding: 9px 18px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 400;
        background-color: #73AAFC;
        color: #fff;
        border: 2px solid transparent;

        &:focus {
            border: 2px solid #5193F5;
        }
        &:hover{
            transition: all .2s ease-in;
            background-color: #649FF8;
        }
    }
        &-img-wrapp {
            width: 80px;
            height: 80px;
            margin: 0 auto 32px;
        }

        &-title {
            font-weight: 900;
            font-size: 56px;
            line-height: 64px;
            max-width: 1034px;
            margin: 0 auto 16px;
            color: #333342;
        }

        &-text {
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            color: #777A8F;
            margin-bottom: 32px;
        }

        &-btn {
            padding: 9px 18px;
            background-color: #73AAFC;
            border-radius: 10px;
            color: #fff;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__nav-btn.footer-btn {
        margin-right: 0;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 40px;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba($color: #777A8F, $alpha: .25);


        &-navleft {
            display: flex;
        }

        &-navlogo {
            margin-right: 60px;
        }

        &-navlinks {
            display: flex;
        }

        &-navlink {
            margin-right: 32px;

            &>a {
                font-weight: 400;
                font-size: 20px;
                color: #777A8F;
                line-height: 24px;
            }
            &>a:hover{
                color:#73AAFC;
            }
        }

        &-copyright {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>ul {
                display: flex;

                &>li {
                    margin-right: 12px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &>a {
                        cursor: pointer;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #777A8F;
                    }
                }
            }

            &-left {
                display: flex;
                align-items: center;

                &>h3 {
                    margin-right: 12px;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 24px;
                    color: #777A8F;
                }

                &>a {
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #777A8F;

                    &>img {
                        width: 100%;
                        max-width: 18px;
                        margin-right: 4px;
                    }
                }
            }

        }
    }
}
.footer__bottom-right{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #333342;
    font-weight: 400;
   
    &> a:last-child{
        &> span:first-child{
            display: flex;
        } 
        &> span:last-child{
            display: none;
        } 
    }
    
}