.main__screen {
    padding-top: 48px;
    padding-bottom: 128px;

    &-info {
        text-align: center;
        margin-bottom: 76px;
    }

    &-text {
        color: #777A8F;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-top: 24px;
    }

    &-items {
        display: flex;
        align-items: center;
        margin-bottom: 56px;
    }

    &-subinfo {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    &> .btn_free_experience{
        cursor: pointer;
        line-height: 24px;
        padding: 9px 18px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 400;
        background-color: #73AAFC;
        color: #fff;
        border: 2px solid transparent;

    &:focus {
        border: 2px solid #5193F5;
    }
    &:hover{
        transition: all .2s ease-in;
        background-color: #649FF8;
    }
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 172.5px;
        text-align: center;
        max-width: 285px;

        &:last-child {
            margin-right: 0;
        }

        &.img {
            width: 80px;
            height: 80px;
            margin: 0 auto 32px;
        }

        &.title {
            color: #333342;
            font-weight: 900;
            font-size: 20px;
            line-height: 24px;
            margin: 0 auto 12px;
        }

        &.text {
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #777A8F;
        }
    }
}