@media screen and (max-width:930px) {
  .homepage__container{
        max-width: 740px;
        &> .header__inner{
            &>.header__nav-left{
              &> .header__nav-logo{
                margin-right: 24px;
              }
              &> ul{
                
                &>li{
                  margin-right: 24px;
                  &> a{
                    margin-right: 0;
                    font-size: 16px;
                    line-height: 24px;
                  }
                }
              }
            }
            &> .header__nav-right{
              &> a{
                &>span:first-child{
                  display: none;
                }
                &>span:last-child{
                  display: flex;
                }
              }
            }
        }
        &> .footer__bottom{
            &>.footer__bottom-navleft{
              &> .header__nav-logo{
                margin-right: 24px;
              }
              &> ul{
                
                &>li{
                  margin-right: 24px;
                  &> a{
                    margin-right: 0;
                    font-size: 16px;
                    line-height: 24px;
                  }
                }
              }
            }
            &> .footer__bottom-navright{
              &> a{
                &>span:first-child{
                  display: none;
                }
                &>span:last-child{
                  margin-left: 0;
                  display: flex;
                }
              }
            }
        }
  }
  .whycrm__items{
    &> .whycrm__items-top{
      &> ul{
        grid-template-columns: 251fr 218fr 183fr;
        column-gap: 24px;
      }
    }
    &> .whycrm__items-bottom{
      &> ul{
        &>li:last-child{
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-column-start: 1;
          grid-row-end: 2;
          margin: 0;
          max-width: 100%;
        }
        display: grid;
        row-gap:24px;
        grid-template-rows: 172px 124px;
        grid-template-columns: 3fr 3fr 3fr;
      }
    }
  }
  .footer__bottom-right{
    &> a:last-child{
        &> span:first-child{
            display:  none;
        } 
        &> span:last-child{
            display: flex;
        } 
    }
    
  }
  .footer__bottom-navlogo {
    margin-right: 24px;
  }
  .crmfree__items{
    grid-row-gap: 16px;
    grid-template-columns: 1.2fr 1.6fr 1fr 1fr;
  }
}

@media screen and (max-width:930px) {
  .blog{
        box-sizing: border-box;
        &> .homepage__container{
            &> .blog__zag{
  
            }
            &> .post__blocks{
              &> .blog__items{

                &> .blog__item{
                width: 100%;
                  &> .post__image{
                    width: 100%;
                  }
                  &> h1{

                  }
                  &> p{

                  }
              }
            }
          }
        }
        
    }
    .current-post{
        &> .homepage__container{
            
            &> .current-post__back{
 
            }
            &> .current-post__img{
               background-size:cover;
                &> h1{

                }
            }
            &> .current-post__container{
                display: flex;
                flex-flow: wrap;
                &> .container__left{
                  order: 2;
                    width: 100%;
                    &> p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 18px;
                    }
                }
                &> .container__right{
                    order: 1;
                    margin-bottom: 48px;
                    width: 100%;
                    &> .container__navigate{
                        width: 100%;
                        padding: 24px 24px;
                        box-sizing: border-box;
                        background: #FFFFFF;
                        box-shadow: 0px -1px 0px rgba(0, 44, 94, 0.1), 0px 4px 4px rgba(0, 44, 94, 0.15);
                        border-radius: 16px;
                        &> h3{
                            font-style: normal;
                            font-weight: 900;
                            font-size: 20px;
                            line-height: 24px;
                            font-feature-settings: 'pnum' on, 'lnum' on;
                            color: #333342;
                        }
                        &> p{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            cursor: pointer;
                            margin-top: 8px;
                            color: #333342;
                        }
                        &> p:hover{
                            color: #73AAFC;
                        }
                    }
                }
            }
            &> .current-post__recomendation{
                &> h1{
                    font-style: normal;
                    font-weight: 900;
                    font-size: 32px;
                    line-height: 32px;
                    margin-bottom: 24px;
                }
                &> .recomendation__container{
                    display: grid;
                    width: 100%;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 32px;
                    &> .recomendation__item{
                        cursor: pointer;
                        text-decoration: none;
                        color: #000;
                        background: #FFFFFF;
                        box-shadow: 0px -1px 0px rgba(0, 44, 94, 0.1), 0px 4px 4px rgba(0, 44, 94, 0.15);
                        border-radius: 16px;
                        padding: 24px;
                        &> img{
                            width: 100%;
                            border-radius:16px;
                            margin-bottom: 24px;
                        }
                        &>h2{
                            font-style: normal;
                            font-weight: 900;
                            font-size: 20px;
                            line-height: 24px;
                            margin-bottom: 8px;
                        }

                        &> p{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
        }
    .cur-post__item{
      margin-bottom: 12px;
      &> .item__zag{
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
          line-height: 24px;
          color: #333342;
          margin-bottom: 20px;
          margin-top: 18px;
      }
      &> .blog-object{
          margin-bottom: 32px;
          &> .blog-object__list{

          &> li{
              list-style: inside;
              margin-bottom: 6px;
          }
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          list-style: inside;
          }
          &> .blog-object__advice{
          width: 100%;
          box-sizing: border-box;
          padding: 24px 24px;
          background: #F4F6FA;
          border-radius: 16px;
          &> h1{
              font-style: normal;
              font-weight: 900;
              font-size: 20px;
              line-height: 24px;
              margin-bottom: 8px;
          }
          }
          &> .blog-object__image{
          display: grid;
          grid-template-columns: 1fr 1fr;
          }
          &> .blog-object__prod{
          display: flex;
          border: 1px solid #73AAFC;
          border-radius: 16px;
          width: 100%;
          justify-content: space-between;
          padding: 24px 24px;
          &> .prod__left{
              
              &>h1{
              font-style: normal;
              font-weight: 900;
              font-size: 24px;
              line-height: 24px;
              color: #73AAFC;
              margin-bottom: 8px;
              }
              &> p{
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              color: #73AAFC;
              }
          }
          &> .prod__right{
              display: flex;
              justify-content: end;
              &> button{
              color: #73AAFC;
              border: 1px solid #73AAFC;
              line-height: 24px;
              padding: 9px 18px;
              border-radius: 10px;
              font-size: 18px;
              font-weight: 400;
              }
          }
          }
          &> .blog-object__quote{
          color:white;
          padding: 24px 24px;
          border-radius: 16px;
          width: 100%;
          background-color: #73AAFC;
          &> h1{
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              margin-bottom: 8px;
          }
          &> p{
              font-style: normal;
              font-weight: 900;
              font-size: 20px;
              line-height: 24px;
          }
          }
      }
    }
}