.alert_size_cont{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  background-color: rgba(193, 193, 193, 0.273);
  &> .alert_size_wrap{
    width: 490px;
    height: 140px;
    border-radius: 10px;
    background-color: white;
    padding: 28px 32px;
    &> h1{
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }
    &> .alert_size_footer{
      margin-top: 23px;
      display: flex;
      &> .alert_size_btn{
          cursor: pointer;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 9px 16px;
          gap: 6px;
          background: #73AAFC;
          border-radius: 8px;
          width: 78px;
          height: 36px;
          color:white;
          margin-left: auto;
      }
    }
  }
}
.non_active{
  display: none;
}