.container_exit{
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  left: 0;
  top: 0;
  background-color: rgba(96, 96, 96, 0.33);
  & .exit_wrapper{
    margin-top: 35vh;
    height: 140px;
    width: 432px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    border-radius:15px;
    padding:28px 32px;
    box-shadow: 0px 0px 0px 1px rgba(0, 44, 94, 0.1), 0px 10px 20px -4px rgba(0, 44, 94, 0.15);
    & .exit_head{
      display: flex;
      & .exit_zag{
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }
      & .close_exit{
        height: 35px;
        width: 35px;
        cursor: pointer;
        margin-right: 0;
        margin-left: auto;
      }
    }
    & .exit_footer{
      justify-content: end;
      margin-top: 24px;
      display: flex;
      & .btns_cont{
        margin-left: auto;
        margin-top: auto;
        & .grey_btn_exit{
          
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          padding: 9px 16px;
          border-radius: 8px;
          background-color: #fff;
          margin-right: 0;
          color: #777A8F;
          border: 2px solid transparent ;
          cursor: pointer;
        }
        & .blue_btn_exit{
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          padding: 9px 16px;
          border-radius: 8px;
          cursor: pointer;
          line-height: 18px;
          border-radius: 8px;
          margin-left: 4px;
          background-color: #73AAFC;
          color: #fff;
          border: 2px solid transparent;
        }
        & .blue_btn_exit:hover{
          transition: all .2s ease-in;
          background-color: #649FF8;
        }

        & .grey_btn_exit:hover{
          border: 1px solid #73AAFC;
          color:#73AAFC;
          transition: all .2s ease-in;
        }
      }
    }
  }
}
.non_popup{
  display: none;
}