@import 'scss/vars.scss';

.menu {
    width: 100%;
    max-width: 74px;
    min-height: 100%;
    background-color: $faint;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    user-select: none;
    box-shadow: 0px 0px 0px 1px rgba(0, 44, 94, 0.1), 0px 2px 2px -1px rgba(0, 44, 94, 0.15);

    &__avatar {
        width: 42px;
        height: 42px;
        margin-top: 24px;
        overflow: hidden;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s ease;

        &.active {
            border: 2px solid #73AAFC;
            padding: 2px;
        }

        &:hover {
            transition: all .3s ease;
            border: 2px solid #73AAFC;
            padding: 2px;
        }
    }

    &__img {
        border-radius: 50%;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-item {
            width: 42px;
            height: 42px;
            display: block;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 16px;
            border-radius: 12px;
            position: relative;
            cursor: pointer;

            &:last-child {
                margin-bottom: 0;
            }

            &>a {
                width: 100%;
                height: 100%;
                user-select: none;

                // pointer-events: none;
                &>div {
                    pointer-events: none;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &.active {
                    background: rgba($color: #B4B8CC, $alpha: .08);
                    border-radius: 12px;

                    .menu__nav-item-svg1::after,
                    .menu__nav-item-svg2::after,
                    .menu__nav-item-svg3::after,
                    .menu__nav-item-svg4::after,
                    .menu__nav-item-svg5::after {
                        background-color: $possive;
                    }
                }
            }

            &:hover {

                .menu__nav-item-svg1::after,
                .menu__nav-item-svg2::after,
                .menu__nav-item-svg3::after,
                .menu__nav-item-svg4::after,
                .menu__nav-item-svg5::after,
                .menu__nav-item-svg6::after {
                    background-color: $possive;
                    transition: all .3s ease-in-out;
                }

                .menu__nav-talk {
                    opacity: 1;
                    transition: opacity .3s ease-in-out;
                }
            }

            &-svg1 {
                position: relative;
                width: 18px;
                height: 19px;
                display: block;
                pointer-events: none;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    mask-image: url('../img/sdm1.svg');
                    background-color: rgba($color: $secondary, $alpha: .65);
                }
            }

            &-svg6 {
                position: relative;
                width: 42px;
                height: 42px;
                display: block;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    mask-image: url('../img/exit.svg');
                    background-color: rgba($color: $secondary, $alpha: .65);
                }
            }

            &-svg2,
            &-svg3,
            &-svg4,
            &-svg5 {
                position: relative;
                width: 24px;
                height: 24px;
                display: block;
                pointer-events: none;
            }

            &-svg2 {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    mask-image: url('../img/sdm2.svg');
                    background-color: rgba($color: $secondary, $alpha: .65);
                }
            }

            &-svg3 {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    mask-image: url('../img/sdm3.svg');
                    background-color: rgba($color: $secondary, $alpha: .65);
                }
            }

            &-svg4 {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    mask-image: url('../img/sdm4.svg');
                    background-color: rgba($color: $secondary, $alpha: .65);
                }
            }

            &-svg5 {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    mask-image: url('../img/sdm5.svg');
                    background-color: rgba($color: $secondary, $alpha: .65);
                }
            }

            &.active {
                background: rgba($color: #B4B8CC, $alpha: .08);

                .menu__nav-item-svg1::after,
                .menu__nav-item-svg2::after,
                .menu__nav-item-svg3::after,
                .menu__nav-item-svg4::after,
                .menu__nav-item-svg5::after {
                    background-color: $possive;
                }
            }

        }

        &-toolTip {
            position: absolute;
            right: -4px;
            top: -4px;
            background-color: #fff;
            z-index: 2;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &>span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #FF4D4D;
                color: #fff;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
            }
        }

        &-talk {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 74px;
            opacity: 0;
            transition: all .2s ease-in-out;
            pointer-events: none;
            z-index: 5;
        }
    }

    &__exit {
        width: 42px;
        height: 42px;
        display: block;
        margin-bottom: 24px;
        position: relative;

        .menu__nav-talk {
            position: absolute;
            top: 50%;
            left: 74px;
            display: block;
            transform: translateY(-50%);
            z-index: 10;
        }

        &-btn {
            cursor: pointer;

            &:hover {
                .menu__nav-item-svg6::after {
                    background-color: $possive;
                    transition: all .3s ease-in-out;
                }

                .menu__nav-talk {
                    opacity: 1;
                    transition: opacity .3s ease-in-out;
                }
            }
        }
    }
}

span.talk {
    display: inline-block;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 9px 16px;
    color: $primary;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    box-shadow: 0 7px 14px rgba($color: #002C5E, $alpha: .15);
    min-width: 114px;
    text-align: center;
    white-space: nowrap;
}

span.talk:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 9px solid;
    border-color: transparent #FFFFFF transparent transparent;
    top: 50%;
    right: 100%;
    margin-top: -9px;
}