// controller
$possive:#73AAFC;
$primary:#333342;
$secondary:#777A8F;
$ghost:#C1C5D6;
$faint:#FFFFFF;
$disable:#C1C5D6;
$link:rgba(#C1C5D6,.5);
$error:#F20008;


// text
$brand:#73AAFC;
$tPrimary:#333342;
$tSecondary:#777A8F;
$tGhost:#C1C5D6;
$tDisable:#C1C5D6;
$succsess:#66D48B;
$warning:#FFB24D;
$alert:#FF4D4D;
$inverse:#FFFFFF;
$promo:rgba(#000000,.8);
