.container_alert_admin{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #75757578;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  &> .wrapper_alert_admin{
    background:white;
    width: 443px;
    height: 180px;
    border-radius: 10px;
    padding: 28px 32px;
    &> .zag_alert_admin{
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      @media (max-width: 1300px) {
            font-size: 18px;
            line-height: 20px;
          }
    }
    &> .btns_alert_admin{

      display: flex;
      margin-top: 30px;
      &> .close_alert_admin{
          margin-left: auto;
          font-family: 'Nunito Sans';
          font-style: normal;
          font-weight: 400;
          border-radius:10px;
          font-size: 18px;
          line-height: 18px;
          padding: 9px 18px;
          font-feature-settings: 'tnum' on, 'lnum' on;
          color: #777A8F;
          border: 2px solid transparent ;
          margin-right: 5px;
          cursor: pointer;
          
          @media (max-width: 1300px) {
            font-size: 11px;
            line-height: 11px;
          }
      }
      &> .close_alert_admin:hover{
        color:#73AAFC;
        border: 1px solid #73AAFC;
      }
      &> .done_alert_admin{
          color: #FFFFFF;
          background-color: #73AAFC;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          padding: 9px 18px;
          border-radius: 10px;
          cursor: pointer;
          @media (max-width: 1300px) {
            font-size: 11px;
            line-height: 11px;
          }
      }
      &> .done_alert_admin:hover{
        background:#5193F5;
      }
    }
  }
}
.non_active{
  display: none;
}